.subject {
	color: red;
}
.predicate {
	color: orange;
}
.object {
	color: green;
}
#turtle {
	padding: 15px;
	padding-left: 150px;
	margin: 0 50px 30px 50px;
	background-color: white;
	border-top: 1px solid black;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#prefixes {
	padding-bottom: 10px;
}
#error {
	color: red;
	font-size: larger;
}
.error {
	color: red;
	font-size: larger;
}
#graph {
	background-color: white;
}
#cont {
	margin-left: 50px;
	margin-right: 50px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
h1 {
	font-size: 300%;
	padding-left: 5px;
	margin: 0;
	position: absolute;
	left: 15px;
	top: 15px;
}
body {
	margin: 50px 0; 
}

